In [10]:
import pandas as pd
df = pd.DataFrame({'num_legs': [2, 4, 2], 'num_wings': [2, 0, 1]},index=['falcon', 'dog', 'cat'])
df

        num_legs  num_wings
falcon         2          2
dog            4          0
cat            2          1

In [11]:
df.isin([0, 2])

        num_legs  num_wings
falcon      True       True
dog        False       True
cat         True      False

In [12]:
condicion = [2]
df[df['num_legs'].isin(condicion)]

        num_legs  num_wings
falcon         2          2
cat            2          1

In [13]:
# Eliminar duplicados
df.drop_duplicates(['num_legs'])

        num_legs  num_wings
falcon         2          2
dog            4          0

In [15]:
#Eliminar duplicados con keep last
# considera el ultimo valor como Ãºnico
df.drop_duplicates(['num_legs'], keep='last')

     num_legs  num_wings
dog         4          0
cat         2          1

In [16]:
# Eliminar duplicados con keep false: Elimina todos los duplicados
df.drop_duplicates(['num_legs'], keep=False)

     num_legs  num_wings
dog         4          0