In [14]:
import pandas as pd
df = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
df

   Yes   No
0   50  131
1   21    2

In [15]:
# sin indices
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [16]:
# con indices
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']},index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [27]:
# get data
df = pd.DataFrame({'a': ['1','2','3','3'], 'b': ['4','5','6', '1'], 'c': ['3','3','1', '1'], 'd': ['7', '9', '2', '1']})
df

   a  b  c  d
0  1  4  3  7
1  2  5  3  9
2  3  6  1  2
3  3  1  1  1

In [28]:
#return especific column
df['a']

0    1
1    2
2    3
3    3
Name: a, dtype: object

In [29]:
# return multiple columns
df[['a', 'd']]

   a  d
0  1  7
1  2  9
2  3  2
3  3  1

In [30]:
# Sort values
df.sort_values(['a', 'b', 'c'])

   a  b  c  d
0  1  4  3  7
1  2  5  3  9
3  3  1  1  1
2  3  6  1  2

In [31]:
df['e'] = 'hell'
df

   a  b  c  d  e
0  1  4  3  7  1
1  2  5  3  9  2
2  3  6  1  2  3
3  3  1  1  1  4