In [2]:
import pandas as pd

In [14]:
## DF
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [15]:
## Group By
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [23]:
## Install dependencies
! pip install sqlalchemy
! pip install psycopg2

Requirement already satisfied: sqlalchemy in c:\users\raulg\anaconda3\lib\site-packages (1.2.15)
Requirement already satisfied: psycopg2 in c:\users\raulg\appdata\roaming\python\python37\site-packages (2.8.5)

In [6]:
## Read sql query
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:123@localhost:5432/bloggo')
pd.read_sql_query("SELECT * FROM users", con=engine)

,id,created_at,updated_at,deleted_at,nickname,name,email,password,favorites,archiveds
0,1,2020-06-09 03:31:56.251668+00:00,2020-06-09 03:31:56.251668+00:00,None,jesus,Jesus Alzamora,jesus@hotmail.com,3939,None,None
1,2,2020-06-09 03:33:18.220679+00:00,2020-06-09 03:33:18.220679+00:00,None,larrygf02,Raul Larriega,raulgf@hotmail.com,123,None,None