In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([
['id1','23/5/2019','not_emailed']
,['id1','24/5/2019','not_emailed']
,['id1','25/5/2019','emailed']
,['id1','26/5/2019','emailed']
,['id1','27/5/2019','emailed']
,['id1','28/5/2019','emailed']
,['id1','29/5/2019','emailed']
,['id1','30/5/2019','emailed']
,['id1','31/5/2019','emailed']
,['id1','1/6/2019','emailed']
,['id1','2/6/2019','emailed']

,['id2','23/5/2019','not_emailed']
,['id2','24/5/2019','not_emailed']
,['id2','25/5/2019','emailed']
,['id2','26/5/2019','emailed']
,['id2','27/5/2019','emailed']

,['id3','29/5/2019','not_emailed']
,['id3','30/5/2019','emailed']
,['id3','31/5/2019','emailed']
,['id3','1/6/2019','emailed']
,['id3','2/6/2019','emailed']

 ,['id4','29/5/2019','not_emailed']
 ,['id4','30/5/2019','emailed']
 ,['id4','31/5/2019','emailed']
 ,['id4','1/6/2019','emailed']
 ,['id4','2/6/2019','emailed']    
,['id4','2/7/2019','emailed']    
,['id4','3/7/2019','emailed']
,['id4','4/7/2019','emailed'] 
 ],columns=['id','date','status'])

In [4]:
df

     id       date       status
0   id1  23/5/2019  not_emailed
1   id1  24/5/2019  not_emailed
2   id1  25/5/2019      emailed
3   id1  26/5/2019      emailed
4   id1  27/5/2019      emailed
5   id1  28/5/2019      emailed
6   id1  29/5/2019      emailed
7   id1  30/5/2019      emailed
8   id1  31/5/2019      emailed
9   id1   1/6/2019      emailed
10  id1   2/6/2019      emailed
11  id2  23/5/2019  not_emailed
12  id2  24/5/2019  not_emailed
13  id2  25/5/2019      emailed
14  id2  26/5/2019      emailed
15  id2  27/5/2019      emailed
16  id3  29/5/2019  not_emailed
17  id3  30/5/2019      emailed
18  id3  31/5/2019      emailed
19  id3   1/6/2019      emailed
20  id3   2/6/2019      emailed
21  id4  29/5/2019  not_emailed
22  id4  30/5/2019      emailed
23  id4  31/5/2019      emailed
24  id4   1/6/2019      emailed
25  id4   2/6/2019      emailed
26  id4   2/7/2019      emailed
27  id4   3/7/2019      emailed
28  id4   4/7/2019      emailed

In [11]:
df2 = df.groupby(['id']).get_group('id1')

In [16]:
for d, index in df2.iterrows():
    d

In [18]:
d

id             id1
date      2/6/2019
status     emailed
Name: 10, dtype: object