In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
obj = Series(range(3), index=['a','b','c'])

In [3]:
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [4]:
index[1:]

Index(['b', 'c'], dtype='object')

In [5]:
index[:1]

Index(['a'], dtype='object')

In [7]:
#Index are inmutable
# index[1] = 'd' this will return error

In [9]:
obj = Series([4.5, 7.2, -5], index=['a','b','c'])
obj

a    4.5
b    7.2
c   -5.0
dtype: float64

In [12]:
obj2 = obj.reindex(['a','d','e','f'])
obj2

a    4.5
d    NaN
e    NaN
f    NaN
dtype: float64

In [13]:
obj.reindex(['a','d','e'], fill_value=0)

a    4.5
d    0.0
e    0.0
dtype: float64

In [14]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0,2,4])

In [16]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [17]:
obj3.reindex(range(6), method='bfill')

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

In [18]:
frame = DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [19]:
# Reindex index
frame2 = frame.reindex(['a','b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [21]:
# Reindex columns
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [27]:
frame3 = frame.reindex(index=['a','b','c','d'], method='ffill')
frame3.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
b      1   NaN           2
c      4   NaN           5
d      7   NaN           8

NameError: name 'frame3' is not defined