In [16]:
import pandas as pd
import numpy as np
from pandas import Series

In [7]:
# Series is a one-dimesional array-like
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [9]:
#values
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [10]:
#index
obj.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
# Series with an index identifying
obj2 = Series([4, 7, -5, 3], index=['a','b','c','d'])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [12]:
# index
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
# selecting single values
obj2['a']

4

In [14]:
# selecting multiple values
obj2[['a', 'd']]

a    4
d    3
dtype: int64

In [15]:
# operations preserv the index-value link
obj2 * 2

a     8
b    14
c   -10
d     6
dtype: int64

In [17]:
# operation numpy
np.exp(obj2)

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

In [18]:
'b' in obj2

True

In [19]:
'e' in obj2

False

In [20]:
# series with dict
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [21]:
#obj3 index
obj3.index

Index(['Ohio', 'Texas', 'Oregon', 'Utah'], dtype='object')

In [22]:
# create other series with index of other series
states = ['Texas', 'Utah', 'Other']
obj4 = Series(sdata, index=states)
obj4

Texas    71000.0
Utah      5000.0
Other        NaN
dtype: float64

In [23]:
# Detecting data null
pd.isnull(obj4)

Texas    False
Utah     False
Other     True
dtype: bool

In [24]:
# Detecting data not null
pd.notnull(obj4)

Texas     True
Utah      True
Other    False
dtype: bool

In [26]:
obj3 + obj4

Ohio           NaN
Oregon         NaN
Other          NaN
Texas     142000.0
Utah       10000.0
dtype: float64

In [28]:
# Series object have a name attritubte
obj4.name = 'population'
obj4

Texas    71000.0
Utah      5000.0
Other        NaN
Name: population, dtype: float64