In [2]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [3]:
## Axis indexes with duplicate values 
obj = Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [4]:
obj.index.is_unique

False

In [5]:
obj['a']

a    0
a    1
dtype: int64

In [6]:
df = DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a  0.615456  0.362325  0.033320
a -0.199712  0.011169 -1.332896
b  1.287490 -0.853267  0.846635
b  0.975925  0.549618  0.628427

In [7]:
df.loc['b']

          0         1         2
b  1.287490 -0.853267  0.846635
b  0.975925  0.549618  0.628427