In [2]:
import pandas as pd

In [5]:
# concat
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3, 3], ['d', 4, 1]],
                   columns=['letter', 'number', 'other'])

In [7]:
pd.concat([df1, df2], sort=False)

  letter  number  other
0      a       1    NaN
1      b       2    NaN
0      c       3    3.0
1      d       4    1.0